@font-face {
  font-family: "Heading Now Slim"; /* Added another Heading Now font below with slightly different style. This one doesn't have numbers and this is the one that is used for the App Title */
  src: url("./fonts/Heading-Now-Trial-37-Extrabold.ttf.woff") format("woff");
}

@font-face {
  font-family: "Heading Now I"; /* This is the font used for Date & Time */
  src: url("./fonts/Heading Now Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro", monospace; /* This is the font used for Notepad text*/
  src: url("./fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter", sans-serif; /* This is the font used for overall app */
  src: url("./fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Oooh Baby", cursive; /* This is the font used for the Settings Title */
  src: url("./fonts/OoohBaby-Regular.ttf") format("truetype");
}