* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  background-color: #0f0e0f;
  font-style: italic;
  font-weight: 500;
  color: white;
}
.app {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  position: fixed; /* Fixed to act as a background */
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.blobs {
  background-color: #0c0c0c;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.blob-1,
.blob-2,
.blob-3,
.blob-4,
.blob-5,
.blob-6 {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.8;

  /* Start - Using Dummy Transform property to tap into GPU resulting in reduction of Color Banding*/
  will-change: transform, background;
  transform: translate3d(0, 0, 0);
  /* End - Using Dummy Transform property to tap into GPU resulting in reduction of Color Banding*/
}

.blob-1 {
  width: 80vw;
  height: 80vw;
  background-color: #c258ff8a; /* Increased saturation */
  top: 5%;
  left: 10%;
}

.blob-2 {
  width: 60vw;
  height: 60vw;
  background-color: #6f00ff8a; /* Decreased Colorwheel Opacity*/
  top: 0%;
  left: 40%;
}

.blob-3 {
  width: 80vw;
  height: 80vw;
  background-color: #ff4d6e85; /* Decreased Colorwheel Opacity*/
  top: 50%;
  left: 5%;
}

.blob-4 {
  width: 40vw;
  height: 40vw;
  background-color: #ff583385; /* Decreased Colorwheel Opacity*/
  top: 60%;
  left: 50%;
}

.blob-5 {
  width: 50vw;
  height: 50vw;
  background-color: #ff005580; /* Decreased Colorwheel Opacity*/
  top: 10%;
  left: 10%;
}

.frost-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ),
    url("data:image/svg+xml;utf8,<svg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='4' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.6;
  mix-blend-mode: soft-light;
  z-index: 2;
}

/* End of code for Background */

/* Start of code for the actual App */

.app {
  padding-block: 5vh;
}

.notepad {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  height: calc(100vh - 100px);
  margin-top: 3.8vh;
  margin-inline: 6vw;
  padding-right: 0; /* Removed extra right padding */
  padding-bottom: 150px;
  padding-top: 15px;
  color: white;
  font-size: 0.9rem;
  font-optical-sizing: auto;
  line-height: 1.4;
  overflow-y: scroll; /* Always reserve space for scrollbar */
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
  border-top: #adadad78 2px dashed;
  scrollbar-gutter: stable;
  /* To make the end of the notepad div fade */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 2) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 2) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  /* To make the end of the notepad div fade */
}

.notepad ul {
  list-style: disc;
  margin-left: 1.5em;
}

/* Notepad Placeholder */

.notepad:empty::before {
  content: "Type Something...";
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  opacity: 0.7;
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

/* Notepad Placeholder */

.notepad::-webkit-scrollbar {
  background: transparent;
  width: 0; /* Revert to 0 width */
}

.notepad:hover::-webkit-scrollbar {
  width: 6px; /* Show scrollbar on hover */
}

.notepad::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.514);
  border-radius: 10px;
  cursor: grab;
}

.notepad::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.notepad::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 249, 168, 0.678);
}

/* Code for the Format Bar */

.format-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  padding: 10px;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: slideUp 1s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.format-bar button {
  min-width: 40px;
  height: 40px;
  background-color: #2222221d;
  backdrop-filter: blur(60px);
  border: none;
  color: #ffffff88;
  padding: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, padding-inline 0.3s ease;
}

.format-bar button:hover {
  background-color: #ffffff14;
  padding-inline: 25px;
}

.format-bar button:active {
  background-color: #2222221d;
}

.bold {
  font-weight: bold;
}
.bold::before {
  content: "B";
  font-size: 0.8rem;
  color: #ffffff88;
}
.bold:hover::before {
  display: none;
}
.bold:hover::after {
  content: "Bold";
  font-size: 0.8rem;
  color: #ffffff88;
}

.italic {
  font-style: italic;
}
.italic::before {
  content: "I";
  font-size: 0.8rem;
  color: #ffffff88;
}
.italic:hover::before {
  display: none;
}
.italic:hover::after {
  content: "Italic";
  font-size: 0.8rem;
  color: #ffffff88;
}

.underline {
  text-decoration: underline;
}
.underline::before {
  content: "U";
  font-size: 0.8rem;
  color: #ffffff88;
}
.underline:hover::before {
  display: none;
}
.underline:hover::after {
  content: "Underline";
  font-size: 0.8rem;
  color: #ffffff88;
}

.strike {
  text-decoration: line-through;
}
.strike::before {
  content: "S";
  font-size: 0.8rem;
  color: #ffffff88;
}
.strike:hover::before {
  display: none;
}
.strike:hover::after {
  content: "Strikethrough";
  font-size: 0.8rem;
  color: #ffffff88;
}

.bullet {
  font-size: 0.8rem;
  color: #ffffff88;
}
.bullet::before {
  content: "•";
  font-size: 0.8rem;
  color: #ffffff88;
}
.bullet:hover::before {
  display: none;
}
.bullet:hover::after {
  content: "Bullet";
  font-size: 0.8rem;
  color: #ffffff88;
}

/* Code for the Format Bar ends here*/

/* Code for the Info Button */

.info-padding {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.info {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.info:hover {
  background-color: #ffffff14;
}
.hamburger {
  cursor: pointer;
  transform: translateY(3px);
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 20px;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #ffffff88;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Code for the Info Button ends here*/

/* Code for about page overlay */

.about-page {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding-block: 5vh;
  z-index: 1000;
}

.about-page h1 {
  font-family: Heading Now;
  font-style: normal;
  color: rgba(255, 255, 255, 0.925);
  font-size: 5rem;
  animation: reveal 0.7s ease-in-out;
}

.about-page h2 {
  color: rgba(255, 255, 255, 0.548);
  font-size: 0.9rem;
  animation: reveal 1.2s ease-in-out;
}

.about-page p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.747);
  margin-top: 60px;
}

.about-page a {
  color: rgba(255, 255, 255, 0.747);
  text-decoration: none;
  margin-top: 20px;
  margin-left: 7px;
  padding: 7px;
  background-color: #00000027;
  border-radius: 7px;
  font-size: 0.75rem;
}

.about-page a:hover {
  color: rgba(255, 255, 255, 0.925);
  background-color: #00000030;
}
/* Code for about page overlay ends here*/
