* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0e0f;
  font-style: italic;
  font-weight: 500;
  color: white;

}

.drag-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px; /* Adjust to match your titleBarOverlay height */
  -webkit-app-region: drag;
  background: transparent;
  z-index: 10000; /* Ensure it's above other elements */
  pointer-events: auto;
}

.app {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  position: fixed; /* Fixed to act as a background */
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.blobs {
  background-color: #0c0c0c;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.blob-1,
.blob-2,
.blob-3,
.blob-4,
.blob-5,
.blob-6 {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.8;

  /* Start - Using Dummy Transform property to tap into GPU resulting in reduction of Color Banding*/
  will-change: transform, background;
  transform: translate3d(0, 0, 0);
  /* End - Using Dummy Transform property to tap into GPU resulting in reduction of Color Banding*/
}

.blob-1 {
  width: 80vw;
  height: 80vw;
  background-color: #c258ff; /* Increased saturation */
  top: 5%;
  left: 10%;
}

.blob-2 {
  width: 60vh;
  height: 60vh;
  background-color: #6f00ff; /* Decreased Colorwheel Opacity*/
  top: 0%;
  left: 40%;
}

.blob-3 {
  width: 80vh;
  height: 80vh;
  background-color: #ff0055; /* Decreased Colorwheel Opacity*/
  top: 50%;
  left: 5%;
}

.blob-4 {
  width: 40vh;
  height: 40vh;
  background-color: #6f00ff8a; /* Decreased Colorwheel Opacity*/
  top: 60%;
  left: 50%;
}

.blob-5 {
  width: 50vw;
  height: 50vw;
  background-color: #ff0055; /* Decreased Colorwheel Opacity*/
  top: 10%;
  left: 10%;
}

.frost-overlay {
  position: absolute;
  inset: 0;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='4' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.6;
  mix-blend-mode: soft-light;
  z-index: 2;
}

/* End of code for Background */

/* Start of code for the actual App */

.app {
  padding-block: 5vh;
}

.notepad {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  height: calc(100vh - 120px);
  margin-top: 3.8vh;
  margin-inline: 6vw;
  padding-right: 0; /* Removed extra right padding */
  padding-bottom: 120px;
  padding-top: 15px;
  color: white;
  font-size: 1rem;
  font-optical-sizing: auto;
  line-height: 1.4;
  overflow-y: scroll; /* Always reserve space for scrollbar */
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
  border-top: #adadad78 2px dashed;
  scrollbar-gutter: stable;
  will-change: transform; 
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  cursor: text; /* Set cursor to text for the editable area */
  /* To make the end of the notepad div fade */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 2) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 2) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  /* To make the end of the notepad div fade */
}

.notepad ul {
  list-style: disc;
  margin-left: 1.5em;
}

/* Notepad Placeholder */

.notepad:empty::before {
  content: "Type Something...";
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  opacity: 0.7;
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

/* Notepad Placeholder */

.notepad::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}



.notepad::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.343);
  border-radius: 10px;
}


/* Code for the Format Bar */

.format-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  padding: 10px;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: slideUp 1s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.format-bar button {
  min-width: 40px;
  height: 40px;
  background-color: #2222221d;
  backdrop-filter: blur(60px);
  border: none;
  color: #ffffff88;
  padding: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, padding-inline 0.3s ease, background-color 1s ease;
}

.format-bar button:hover {
  background-color: #ffffff14;
  padding-inline: 25px;
}

.format-bar button:active {
  background-color: #2222221d;
}

.bold {
  font-weight: bold;
}
.bold::before {
  content: "B";
  font-size: 0.8rem;
  color: #ffffff88;
}
.bold:hover::before {
  display: none;
}
.bold:hover::after {
  content: "Bold";
  font-size: 0.8rem;
  color: #ffffff88;
}

.italic {
  font-style: italic;
}
.italic::before {
  content: "I";
  font-size: 0.8rem;
  color: #ffffff88;
}
.italic:hover::before {
  display: none;
}
.italic:hover::after {
  content: "Italic";
  font-size: 0.8rem;
  color: #ffffff88;
}

.underline {
  text-decoration: underline;
}
.underline::before {
  content: "U";
  font-size: 0.8rem;
  color: #ffffff88;
}
.underline:hover::before {
  display: none;
}
.underline:hover::after {
  content: "Underline";
  font-size: 0.8rem;
  color: #ffffff88;
}

.strike {
  text-decoration: line-through;
}
.strike::before {
  content: "S";
  font-size: 0.8rem;
  color: #ffffff88;
}
.strike:hover::before {
  display: none;
}
.strike:hover::after {
  content: "Strike";
  font-size: 0.8rem;
  color: #ffffff88;
}

.bullet {
  font-size: 0.8rem;
  color: #ffffff88;
}
.bullet::before {
  content: "•";
  font-size: 0.8rem;
  color: #ffffff88;
}
.bullet:hover::before {
  display: none;
}
.bullet:hover::after {
  content: "Bullet";
  font-size: 0.8rem;
  color: #ffffff88;
}

/* Code for the Format Bar ends here*/

.buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1002;
  transition: all 0.8s ease;
}

/* Code for the Settings Button */

.settingsButton {
  display: none;
  padding: 10px;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: screenSaverUp 2.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}
.settings {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  border: 4px solid #ffffff3d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s ease;
}
.settings:hover {
  background-color: #ffffff14;
}
.gear {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gear input {
  display: none;
}

.gear svg {
  height: 24px;
  width: 24px;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gear-circle, .gear-path1, .gear-path2 {
  fill: none;
  stroke: #ffffff88;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
  transition: stroke 300ms ease-in-out;
}

.gear input:checked + svg {
  transform: rotate(90deg);
}

.gear input:checked + svg .gear-circle,
.gear input:checked + svg .gear-path1,
.gear input:checked + svg .gear-path2 {
  stroke: #ffffffcc;
}

/* Code for the Settings Button ends here*/

/* Code for Screensaver Trigger Button */

.screensaver{
  display: none;
  height: 62px; /*  IDK, This is important to make the button not look oval shaped, Don't remove or alter this Height property */
  padding: 10px;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: screenSaverUp 1.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.dial-checkbox {
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: #00000027;
  border: 4px solid #ffffff3d;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.dial-checkbox:hover {
  background-color: #ffffff14;
}

.dial-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 14px;
  background: #ffffff88;
  border-radius: 3px;
  transform-origin: center bottom;
  transform: translate(-50%, -100%) rotate(-45deg);
  transition: 0.4s ease;
}

.dial-checkbox:checked::before {
  transform: translate(-50%, -100%) rotate(45deg);
  background: #ffffffcc;
}

/* Code for Screensaver Trigger Button ends here */

/* Code for the Info Button */

.infoButton {
  padding: 10px;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid #ffffff27;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.info {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #00000027;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  border: 4px solid #ffffff3d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s ease;
}
.info:hover {
  background-color: #ffffff14;
}
.hamburger {
  cursor: pointer;
  transform: translateY(3px);
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 20px;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #ffffff88;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Code for the Info Button ends here*/

/* Code for about page overlay */

.about-page {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding-block: 5vh;
  z-index: 1000;
}

.about-page h1 {
  font-family: Heading Now Slim;
  font-style: normal;
  color: rgba(255, 255, 255, 0.925);
  font-size: 5rem;
  line-height: 1;
  animation: reveal 0.7s ease-in-out;
  will-change: transform; 
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}

.about-page h2 {
  margin-top: 15px;
  font-family: "Source Code Pro", monospace;
  color: rgba(255, 255, 255, 0.548);
  font-size: 0.9rem;
  animation: reveal 1.2s ease-in-out;
  will-change: transform; 
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}

.about-page p {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.719);
  /* background-color: #22222223; */
  /* backdrop-filter: blur(1px); */
  margin-top: 60px;
  padding: 12px;
  line-height: 1;
  border-radius: 16px;
  border: 1px solid #ffffff1a;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); */
  animation: slideUp2 3s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.about-page a {
  font-family: "Source Code Pro", monospace;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.747);
  border: 1px solid #ffffff1a;
  padding: 12px;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 16px;
  line-height: 1;
  animation: slideUp2 4s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.about-page a:hover {
  color: rgba(255, 255, 255, 0.925);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #22222223;
  transition: background-color 0.5s ease;
}

.about-page a:active {
  background-color: #2222221d;
  box-shadow: none;
}

/* Code for about page overlay ends here*/

/* Code for Screensaver */

.screensaver-overlay {
  font-weight: 100;
  font-style: normal;
  display: none;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  position: fixed;
  padding-left: 20vw;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

#time{
  font-family: Heading Now I;
  font-weight: 100;
  font-style: normal;
  color: rgba(255, 255, 255, 0.747);
  font-size: 20vh;
  line-height: 1;
  animation: reveal2 0.6s ease-in-out;
  will-change: transform; 
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}

#date{
  font-family: Heading Now I;
  font-weight: 100;
  font-style: normal;
  color: rgba(255, 255, 255, 0.548);
  font-size: 5vh;
  animation: reveal2 1.1s ease-in-out;
  will-change: transform; 
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}

#songInfo{
  display: none;
  margin-top: 70px;
  font-family: "Inter", sans-serif;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 0 20px;
  align-items: center;
}

.loader {
  display: flex;
  align-items: center;
  grid-row: 1 / 3; /* Span both rows */
  grid-column: 1;
  animation: reveal2 1.5s ease-in-out;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 1.5vh;
  background-color: rgba(255, 255, 255, 0.233);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 3.2vh;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: rgba(255, 255, 255, 0.482);
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

#song{
  font-style: italic;
  font-weight: 100;
  font-size: 2.3vh;
  color: rgba(255, 255, 255, 0.719);
  line-height: 1;
  animation: reveal2 1.5s ease-in-out;
  grid-row: 1;
  grid-column: 2;
  margin: 0;
}

#song span{
  color: rgba(255, 255, 255, 0.548);
}

#artist{
  font-weight: 100;
  font-size: 1.5vh;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.719);
  line-height: 1;
  animation: reveal2 2s ease-in-out;
  grid-row: 2;
  grid-column: 2;
}

/* Code for Screensaver ends here */
